// ADMIN NAVBAR
.admin_nav {
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
    justify-content: center;

    li {
        padding: 0.5em 1em;
        width: 15%;
        border: 1px solid #F64F1B;
        cursor: pointer;
    }

    a,
    li {
        color: #F64F1B;
    }

    .activated {
        background-color: #F64F1B;
        color: white;
    }
}

// ADMIN SECTIONS
.admin_sections {
    width: 100%;

    .section {
        display: none;
    }

    .section_showed {
        display: block;
        width: 90%;
        margin: auto;

        a {
            display: block;
            width: -webkit-fit-content;
            width: -moz-fit-content;
            width: -o-fit-content;
            width: -ms-fit-content;
            width: fit-content;
            margin-bottom: 1em;
            cursor: pointer;
        }

        table {
            width: 100%;
        }
    }

    .admins {
        width: 70%;
    }


    i {
        color: #29208D;
        cursor: pointer;
    }

    i:hover {
        color: #F64F1B;
    }



}

// MODAL RULES FOR THE PAGE
.modal-body {
    form {
        .form_input {
            display: flex;
            flex-direction: column;
            margin-bottom: 0.5em;

            input,
            select {
                background-color: white;
                height: 1.5em;
            }

            select {
                height: 2em;
            }

        }

        .publish_checkbox {
            flex-direction: row;
            justify-content: flex-start;
        }
    }
}


// ARTICLE MODAL
#addArticleModal {
    .modal-dialog {
        max-width: unset;
        width: 100%;

        .modal-content {
            width: 50%;

            .modal-body {
                width: 80%;

                .hide_publish {
                    visibility: hidden;
                }
            }
        }
    }
}

// RESPONSIVE DESIGN
@media(max-width: 767px) {
    .admin_nav {
        font-size: 0.7em;

        li {
            padding: 0.5em 0.2em;
        }
    }

    .admin_sections {
        .admins {
            width: 85%;
        }
    }

    #addArticleModal {
        .modal-dialog {
            .modal-content {
                width: 80%;
            }
        }
    }
}

@media(max-width: 575px) {
    .admin_nav {
        flex-direction: column;
        align-items: center;
        font-size: 1em;
        width: 100%;

        li {
            width: 60%;
        }
    }

    .admin_sections {
        .section_showed {
            width: 100%;
            font-size: 0.8em;
        }
    }
}

@media(max-width: 500px) {

    .admin_sections {
        .section_showed {
            table {
                .hide_column {
                    display: none;
                }
            }
        }
    }
}