// ARTICLE CONTENT
.article_page_content {
    width: 60%;
    text-align: left;
    margin: auto;

    h3 {
        text-align: center;
    }

    .article_img {
        width: 100%;
        height: 20em;
        margin: 2em auto;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

}


// RESPONSIVE DESIGN

@media(max-width: 767px) {
    .article_page_content {
        width: 80%;
    }
}

@media(max-width: 500px) {
    .article_page_content {
        .article_img {
            height: 10em;
        }
    }
}