html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Catamaran', sans-serif;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
    font-family: 'Lobster', cursive;
}

h1 {
    color: #F64F1B;
}

h3 {
    font-size: 1.5em;
    color: #29208D;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: -o-fit-content;
    width: -ms-fit-content;
    width: fit-content;
    padding-bottom: 0.5em;
    padding-top: 3em;
    border-bottom: 2px solid #29208D;
    margin: 0 auto;
}

h4 {
    color: #29208D;
    margin-top: 0;
    margin-bottom: 0;
}

h5 {
    color: #F64F1B;
    font-size: 1em;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

table {

    border: 1px solid #F64F1B;
    border-collapse: collapse;

    thead {
        background-color: #F64F1B;
        color: white;

    }

    tr {
        border-bottom: 1px solid #F64F1B;

        td {
            padding: 0.5em 1em;
            text-align: left;
        }
    }
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

input:focus {
    outline-color: #F64F1B;
}

.container {
    display: block;
    max-width: 100%;
    margin-left: 15px;
    margin-right: 15px;
}

.covered_section {
    background: url(../images/basketball_on_field_picture.jpg) no-repeat;
    background-size: cover;
}

.page_button {
    border: 1px solid #F64F1B;
    color: #F64F1B;
    padding: 0.5em 1em;
    background-color: white;
}

.page_button:hover {
    color: white;
    background-color: #F64F1B;
}

.valid_btn {
    font-family: 'Catamaran', sans-serif;
    font-size: 1em;
    margin: 1em auto;
    cursor: pointer;
}

@media(min-width:768px) {
    .container {
        max-width: 720px;
        margin-left: 0;
        margin-right: 0;
        margin: auto;
    }
}

@media(min-width:992px) {
    .container {
        max-width: 960px;
        margin-left: 0;
        margin-right: 0;
        margin: auto;
    }
}

@media(min-width:1200px) {
    .container {
        max-width: 1140px;
        margin-left: 0;
        margin-right: 0;
        margin: auto;
    }
}