// CONTACT PAGE BODY
.contact_body {
    display: flex;
    padding-top: 2em;
    justify-content: space-evenly;

    // CONTACT INFORMATIONS
    .contact_informations {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        a {
            color: #F64F1B;
            font-weight: bold;
        }

        a:hover {
            color: #29208D;
        }

        img {
            width: 100%
        }
    }

    // CONTACT FORM
    #contact_form {
        width: 30%;
        border: 1px solid white;
        box-shadow: 2px 5px 10px rgba(246, 79, 27, 0.25);
        padding: 1em;

        .form_input {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            padding-bottom: 1em;

            .text_input {
                width: 90%;
                height: 1.5em;
            }

            textarea {
                resize: none;
                width: 90%;
                height: 5em;
            }

            // RADIO INPUTS
            .radio_bloc {
                display: flex;
                justify-content: flex-start;


                .input_radio {
                    display: flex;
                    padding-right: 1em;
                    align-items: baseline;
                }
            }
        }

        // AGREE CHECKBOX
        .agree_checkbox {
            display: flex;
            flex-direction: row;
            text-align: left;
            align-items: baseline;
        }

        // CAPTCHA
        .g-recaptcha {
            transform-origin:0 0;
            -webkit-transform-origin:0 0;
            -moz-transform-origin:0 0;
            -o-transform-origin:0 0;
            --transform-origin:0 0;
        }

        // ERROR/SENT MESSAGE
        .send_message {
            color: #F64F1B;
            font-weight: bold;
        }

    }

    #contact_form:hover {
        border: 1px solid #F64F1B;
    }


}

// RESPONSIVE DESIGN
@media(max-width: 1199px) {
    .contact_body {
        #contact_form {
            .g-recaptcha {
                transform:scale(0.9);
                -webkit-transform:scale(0.9);
                -moz-transform:scale(0.9);
                -o-transform:scale(0.9);
                -ms-transform:scale(0.9);
            }
        }
    }
}

@media(max-width: 991px) {
    .contact_body {
        #contact_form {
            width: 40%;
        }
    }
}

@media(max-width: 767px) {
    .contact_body {
        #contact_form {
            .g-recaptcha {
                transform:scale(0.7);
                -webkit-transform:scale(0.7);
                -moz-transform:scale(0.7);
                -o-transform:scale(0.7);
                -ms-transform:scale(0.7);
            }
        }
    }
}

@media(max-width: 575px) {
    .contact_body {
        flex-direction: column;
        align-items: center;

        .contact_informations {
            width: 60%;

            img {
                display: none;
            }
        }

        #contact_form {
            width: 80%;
            border: 1px solid #F64F1B;

            .g-recaptcha {
                transform: unset;
                -webkit-transform: unset;
                -moz-transform: unset;
                -o-transform: unset;
                -ms-transform: unset;
            }
        }
    }

}

@media(max-width: 400px) {
    .contact_body {
        #contact_form {
            .g-recaptcha {
                transform:scale(0.7);
                -webkit-transform:scale(0.7);
                -moz-transform:scale(0.7);
                -o-transform:scale(0.7);
                -ms-transform:scale(0.7);
            }
        }
    }
}