footer {
    background-color: #F64F1B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    color: white;
    font-size: 0.8em;

    .footer_links {
        a {
            color: white;
            margin-left: 2em;
            font-size: 1em;
        }

        a:hover {
            color: #29208D;
        }
    }
}

// RESPONSIVE DESIGN
@media(max-width: 769px) {
    footer {
        flex-direction: column;

        .footer_links {
            padding: 1em 0;

            a {
                font-size: 1.1em;
            }
        }
    }
}

@media(max-width: 577px) {
    footer {
        .footer_links {
            display: flex;
            flex-direction: column;
            padding: 0.5em 0 1em 0;
            text-align: center;

            a {
                margin: 0;
            }
        }
    }
}