nav {
  background: rgba(231, 236, 239, 0.91);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;

  // MENU 

  #menu {
    display: flex;
    justify-content: space-around;
    align-items: center;


    a {

      color: black;

      img {
        margin: 0.8em 0 0.2em 3em;
        width: 10em;
      }
    }

    ul {
      font-family: "Lobster", cursive;
      display: flex;
      justify-content: space-evenly;
      flex: 2;

      li {
        a {
          padding-bottom: 0.5em;
        }

        .current_page {
          border-bottom: 1px solid #F64F1B;
          color: #F64F1B;
        }
      }
    }
  }

  // MENU RESPONSIVE

  #responsive_menu {
    display: none;
    text-align: center;

    i {
      font-size: 1.5em;
      padding: 0.5em;
      cursor: pointer;
    }

    .fa-times {
      display: none;

    }

    #list_menu {
      display: none;
      text-align: center;

      img {
        width: 10em;
      }

      ul {
        font-family: "Lobster", cursive;

        li {
          margin: 1em;

          a {
            padding-bottom: 0.5em;
            
          }

          .current_page {
            border-bottom: 1px solid #F64F1B;
            color: #F64F1B;
          }
        }
      }
    }
  }
}


// BANNER
.banner {
  position: relative;
  display: flex;

  img {
    width: 100%;
  }

  .banner_text {
    text-align: center;
    position: absolute;
    bottom: 3em;
    width: 100%;
  }
}

// NEXT GAME PART
.last_game {
  background-color: #F64F1B;
  height: 5em;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;

}
// RESPONSIVE DESIGN
@media(max-width:991px) {
  .banner {
    .banner_text {
      bottom: 2em;

      h1 {
        font-size: 1.8em;
      }
    }
  }

  .last_game {
    h2 {
      font-size: 1.3em;
    }
  }
}


@media(max-width: 767px) {
  nav {
    #menu {
      a {
        img {
          width: 11em;
          margin-left: 2em;
        }
      }

      ul {
        li {
          font-size: 0.8em;
        }
      }
    }
  }

  .banner {
    .banner_text {
      bottom: 1em;

      h1 {
        font-size: 1.3em;
      }
    }
  }

  .last_game {
    h2 {
      font-size: 1em;
    }
  }
}

@media(max-width: 575px) {
  nav {
    #menu {
      display: none;
    }

    #responsive_menu {
      display: block;
    }
  }

  .last_game {
    h2 {
      font-size: 0.8em;
    }
  }
}

@media(max-width: 500px) {
  .banner {
    .banner_text {
      bottom: 0.7em;

      h1 {
        font-size: 0.8em;
      }
    }
  }
}

@media(max-width: 450px) {
  .last_game {
    h2 {
      font-size: 0.6em;
    }
  }
}