// TIMELINE
.timeline {
    overflow: hidden;
    position: relative;
    max-width: 1200px;
    margin: 2em auto;


    // CARD CONTAINER
    .card {
        padding: 10px 40px;
        position: relative;
        background-color: inherit;
        width: 50%;
        box-sizing: border-box;


        // CARD CONTENT
        .card_content {
            padding: 20px 30px;
            position: relative;
            border-radius: 6px;
            border: 1px solid #F64F1B;

            // CARD IMAGE
            .card_image {
                width: 50%;
                height: 10em;
                float: left;
                clear: both;


                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }

                // SPECIAL RULE FOR BASKETBALL HOOP IMAGE
                .hoop {
                    object-position: right;
                }
            }

            // SPECIAL RULES FOR VERTICAL IMAGE
            .high {
                height: 15em;

                img {
                    object-position: top;
                }
            }

            // CARD TEXT
            .card_text {
                display: inline;
            }
        }
    }

    // CIRCLES ON TIMELINE
    .card::after {
        content: '';
        position: absolute;
        width: 25px;
        height: 25px;
        right: -17px;
        background-color: white;
        border: 4px solid #F64F1B;
        top: 15px;
        border-radius: 50%;
        z-index: 1;
    }


    // LEFT CARDS
    .left {
        left: 0;

        .card_content {
            .card_image {
                float: left;
                margin-right: 2em;
            }
        }

    }


    // RIGHT CARDS
    .right {
        left: 50%;

        .card_content {
            .card_image {
                float: right;
                margin-left: 2em;
            }
        }
    }

    // SET POSITION TO CIRCLE OF RIGHT CARDS
    .right::after {
        left: -16px;
    }
}

// TIMELINE STICK
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #29208D;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}



// RESPONSIVE DESIGN

@media(max-width: 767px) {
    .timeline {
        .card {
            width: 100%;
            padding-left: 70px;
            padding-right: 25px;
        }

        // SET ALL CIRCLES ON LEFT
        .left::after,
        .right::after {
            left: 15px;
        }

        // PUT RIGHT CARDS BELOW LEFT CARDS
        .right {
            left: 0%;
        }

    }

    // PLACE TIMELINE TO THE LEFT
    .timeline::after {
        left: 31px;
    }
    
}


@media(max-width: 500px) {
.timeline {
        .card {

            // CHANGE PLACEMENT OF CARDS ELEMENT FOR SMALL SCREEN
            .card_content {
                display: flex;
                flex-direction: column;

                .card_image {
                    width: 100%;
                    margin: 0 0 2em 0;
                }

                // REDUCE TEXT SIZE
                .card_text {
                    h4 {
                        font-size: 1em;
                    }

                    p {
                        font-size: 0.8em;
                    }
                }
            }
        }
    }
}