.container {
    text-align: center;
    padding-bottom: 5em;

    // NEWS SECTION
    .news {
        display: flex;
        justify-content: space-between;
        padding-top: 3em;

        // NEWS CARD
        .news_card {
            width: 300px;
            height: 400px;
            box-shadow: 2px 5px 10px rgba(246, 79, 27, 0.25);
            display: flex;
            flex-direction: column;
            border: 1px solid white;

            .img_card {
                width: 100%;
                height: 30%;

                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }

            .card_text {
                margin: 0.5em;
                height: 100%;
                text-align: left;
                overflow: hidden;

                h5 {
                    margin-bottom: 2em
                }
            }

            .page_button {
                align-self: center;
                justify-self: self-end;
                margin-bottom: 1em;
            }
        }

        .news_card:hover {
            border: 1px solid #F64F1B;
        }
    }

    // WOMEN'S BASKETBALL SECTION
    .women_basketball {
        padding-top: 3em;
        display: flex;
        justify-content: space-evenly;

        // HISTORY CARD
        .woman_basket_card {
            width: 450px;
            height: 500px;
            box-shadow: 2px 5px 10px rgba(246, 79, 27, 0.25);
            display: flex;
            flex-direction: column;
            border: 1px solid white;

            .img_card {
                width: 100%;
                height: 40%;

                img {
                    object-fit: cover;
                    object-position: top;
                    width: 100%;
                    height: 100%;
                }
            }

            p {
                margin: 0.5em;
                text-align: left;
                height: 100%;
            }



            .page_button {
                align-self: center;
                justify-self: self-end;
                margin-bottom: 1em;
            }
        }

        // TWITTER FEED
        .twitter_feed {
            border: 1px solid white;
            width: 300px;
            height: 500px;
            overflow: auto;
        }

        .woman_basket_card:hover,
        .twitter_feed:hover {
            border: 1px solid #F64F1B;
        }

    }

    // SPONSOR SECTION
    .sponsor_list {
        display: flex;
        justify-content: space-around;
        padding-top: 3em;

        img {
            height: 150px;
        }

        .horizontal_logo {
            width: 200px;
        }

        .vertical_logo {
            width: auto;
        }
    }
}


// TEAM SECTION
.basketball_game {
    margin: auto;
    padding-top: 3em;
    padding-bottom: 3em;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: -o-fit-content;
    width: -ms-fit-content;
    width: fit-content;

    iframe {
        width: 560px;
        height: 315px;
    }
}


// RESPONSIVE DESIGN

@media(max-width: 991px) {
    .container {
        .news {
            flex-direction: column;
            align-items: center;

            .news_card {
                width: 80%;
                height: 400px;
                margin-bottom: 4em;

                .img_card {
                    height: 50%;
                }
            }
        }

        .women_basketball {
            .woman_basket_card {
                width: 350px;
            }
        }
    }
}

@media(max-width: 767px) {
    .container {
        .news {
            .news_card {
                height: 500px;
            }
        }

        .women_basketball {
            .woman_basket_card {
                width: 50%;
                height: 450px;

                p {
                    font-size: 0.8em;
                }
            }

            .twitter_feed {
                width: 40%;
                height: 450px;
            }
        }

        .sponsor_list {
            img {
                height: 100px;
            }

            .horizontal_logo {
                width: 150px;
            }
        }
    }

    .basketball_game {
        iframe {
            width: 450px;
            height: 253px;
        }
    }

}

@media(max-width: 575px) {
    .container {
        .women_basketball {
            flex-direction: column;
            align-items: center;

            .woman_basket_card {
                width: 80%;
                height: -webkit-fit-content;
                height: -moz-fit-content;
                height: -o-fit-content;
                height: -ms-fit-content;
                height: fit-content;
                margin-bottom: 1em;

                p {
                    font-size: 1em;
                }
            }

            .twitter_feed {
                width: 60%;
                height: 300px;
            }
        }

        .sponsor_list {
            flex-direction: column;
            align-items: center;

            img {
                margin: 0.5em 0;
            }
        }
    }
}

@media(max-width: 500px) {
    .container {
        .women_basketball {
            .twitter_feed {
                width: 80%;
            }
        }
    }

    .basketball_game {
        iframe {
            width: 300px;
            height: 169px;
        }
    }
}