// LOGIN FORM
.login {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: -o-fit-content;
    width: -ms-fit-content;
    width: fit-content;
    align-items: center;
    padding: 1em;

    // LABEL AND INPUT
    .form_input {
        display: flex;
        flex-direction: column;
        margin-top: 0.5em;
        margin-bottom: 0.5em;

        input {
            height: 1.5em;
        }
    }
}