// SITEMAP SECTION
.sitemap {
    margin: 2em 0;
    display: flex;
    justify-content: space-evenly;
    text-align: left;

    // LINKS CATEGORIES
    .links_category {
        h4 {
            font-size: 1.3em;
            margin-bottom: 1em;
        }

        a {
            color: #F64F1B;
            font-weight: bold;
        }

        a:hover {
            color: #29208D;
        }
    }
}

// RESPONSIVE DESIGN

@media(max-width: 500px) {
    .sitemap {
        flex-direction: column;
        .links_category {
            margin: 1em auto;
            text-align: center;
        }
    }
}