// TEAM SECTION
.team_informations {
    display: flex;
    justify-content: space-around;
    padding-top: 2em;

    // RULES FOR ALL THE TABLE ON THE PAGE
    table {

        border: 1px solid #F64F1B;
        border-collapse: collapse;

        thead {
            background-color: #F64F1B;
            color: white;

        }

        tr {
            border-bottom: 1px solid #F64F1B;

            td {
                padding: 0.5em 1em;
                text-align: left;
            }
        }
    }

    // FIELD AND TRAININGS

    .field_and_trainings {
        width: 60%;
        text-align: left;

        // FIELD
        .animated_field {
            position: relative;

            .field {
                width: 100%;
            }

            // BALLS AND POSITIONS NAME
            .basketball {
                display: flex;
                align-items: center;

                img {
                    width: 2em;
                }

                p {
                    color: #29208D;
                    font-weight: bold;
                    margin-left: 0.5em;
                }
            }

            // POSITIONS ON FIELD IMAGE
            #point_guard {
                position: absolute;
                top: 41%;
                left: 31%;
            }

            #shooting_guard {
                position: absolute;
                top: 18%;
                left: 25%;
            }

            #power_forward {
                position: absolute;
                top: 27%;
                left: 7%;
            }

            #center {
                position: absolute;
                top: 58%;
                left: 14%;
            }

            #small_forward {
                position: absolute;
                top: 65%;
                left: 5%;
            }

            .hidden {
                display: none;
            }
        }

        p {
            font-size: 1.5em;
            margin: 0.5em auto;
        }

        // TRAININGS TABLE
        .trainings_board {
            width: 100%;

            td {
                width: 25%;
            }
        }
    }

    // STAFF
    .team_staff {
        width: 25%;

        // PLAYERS TABLE
        .team_players_board {
            width: 100%;

            td {
                width: 50%;
            }

            .player_position {
                display: none;
            }
        }

        // COACHES
        .coaches {
            p {
                margin: 0.5em auto;
            }

            .coach_title {
                font-size: 1.5em;
            }
        }
    }
}

// CONTACT SECTION
.covered_team {
    padding-top: 3em;
    padding-bottom: 3em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    // LINK TO CONTACT
    p {
        width: 20%;
        font-size: 1.2em;

        a {
            color: #F64F1B;
            font-weight: bold;
        }

        a:hover {
            color: #29208D;
        }
    }

    // TEAM PICTURE
    img {
        width: 50%;
    }
}


// RESPONSIVE DESIGN

@media(max-width: 800px) {
    .team_informations {
        flex-direction: column-reverse;

        .field_and_trainings {
            width: 80%;
            margin: auto;
            text-align: center;

            .animated_field {
                display: none;
            }
        }

        .team_staff {
            width: 100%;
            display: flex;
            justify-content: space-around;
            .team_players_board {
                width: 60%;
                
                .player_position {
                    display: inline-block;
                }

                td {
                    width: unset;
                    text-align: center;
                }
            }
        }
    }

    .covered_team {
        p {
            font-size: 1em;
        }
    }
}


@media(max-width: 575px) {
    .team_informations {
        
        .field_and_trainings {
            width: 100%;
            font-size: 0.8em;
        }

        .team_staff {
            flex-direction: column;
            margin-bottom: 1.5em;
            font-size: 0.8em;

            .team_players_board {
                width: 100%;
            }
        }
    }

    .covered_team {
        p {
            font-size: 0.8em;
        }
    }
}


@media(max-width: 500px) {
.team_informations {
    .field_and_trainings {
        font-size: 0.7em;
    }
}

    .covered_team {
        flex-direction: column;
        align-items: center;
        padding-top: 2em;
        padding-bottom: 2em;

        p,
        img {
            text-align: center;
            width: 70%;
        }
    }
}