// TICKETS INFORMATIONS SECTIONS
.tickets_informations {
    font-size: 1.2em;
    padding-top: 2em;

    a {
        color: #F64F1B;
        font-weight: bold;
    }

    a:hover {
        
        color: #29208D;
    }
}


// CALCULATOR SECTION
.covered_calculator {
    padding-top: 3em;
    padding-bottom: 3em;
    display: flex;
    justify-content: space-around;
    align-items: center;

    img {
        width: 35%;
    }

    // CALCULATOR BLOCK
    .calculator {
        padding-top: 1em;
        padding-bottom: 1em;
        width: 45%;
        background-color: white;
        border: 1px solid #F64F1B;
        text-align: center;

        h4 {
            font-size: 1.2em;
        }

        .prices_list {
            display: flex;
            flex-direction: column;

            p {
                margin: 1em 2em;
            }

            // PRICES BLOCK
            ul {
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin: 0.5em 0;
                padding: 0;

                li {
                    width: 33%;

                    .fas {
                        color: #F64F1B;
                    }
                    .inactive {
                        pointer-events: none;
                        color: #29208D;
                        cursor: none;
                    }
                }

                .tickets_number {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    input {
                        width: 2em;
                        border: 0;
                        padding: 0;
                        font-size: 1.5em;
                        text-align: center;
                        background: 0 0;
                    }
                }

                input[type=number]::-webkit-inner-spin-button,
                input[type=number]::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }

                input[type=number] {
                    -moz-appearance:textfield;
                }
            }

            // DISCOUNT BLOCK
            .discount {
                color: #F64F1B;
                font-weight: bold;

                input {
                    color: black;
                    font-weight: normal;
                }
            }
        }

        .line {
            width: 80%;
            border: 1px solid #F64F1B;
            margin: auto;
            margin-top: 2em;
        }

        // AMOUNT BLOCK
        .amount_bloc {
            display: flex;
            justify-content: space-around;
            font-size: 1.8em;

            p { 
                margin: 0.2em 0;
            }
        }
    }
}

// RESPONSIVE DESIGN
@media(max-width: 991px) {
    .covered_calculator {
        img {
            display: none
        }

        .calculator {
            width: 70%;
        }
    }
}

@media(max-width: 767px) {
    .covered_calculator {
        .calculator {
            width: 90%;
        }
    }
}

@media(max-width: 500px) {
    .covered_calculator {
        .calculator {

            h4 {
                margin: 1em 0;
            }

            .prices_list {
                ul {
                    flex-direction: column;
                    margin: 0.5em 0;

                    li {
                        width: 100%;
                        margin: 0.5em 0;
                    }

                    .free_ticket {
                        display: none;
                    }

                    .price {
                        font-weight: bold;
                    }
                }
            }

            .line {
                margin-top: 0.5em;
            }
        }
    }
}